/*-------------Navigationsleite-------------*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-image: linear-gradient(rgb(102, 252, 241, 0.3), rgba(31, 40, 51, 1)),
        url(/img/header/matrix_header.png);
}


header nav {
    height: 90px;
    width: 90%;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    margin: 0 auto;
}


.nav-elements-left {
    display:flex;
    justify-content: flex-start;
    height: 90px;
    align-items: center;
}

.nav-elements-right {
    display:flex;
    align-items: center;
    height: 90px;

}

.nav_element {
    width: 171px;
    height: 40px;
    display:flex;
    list-style: none;
    margin: 0;
    align-items: center;
    gap: 15px;
    padding:0;
}

.nav_element span {
    color: rgb(102, 252, 241);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.nav_element li {
    height: 20px;
}

.nav_element li:last-child{
    display: none;
}

.nav_element span{
    color: var(--main-brand-color);
    position: relative;
}

.nav_element span::after {
    content: "";
    height: 2px;
    width: 0;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out;
}

.nav_element span:hover::after {
    width: 100%;
}

.menu-lang{
    display: flex;
    width: 120px;
    height: 40px;
}

.photo_lan {
    width: 100%;
    height: 100%;
}

.language{
    align-items:center;
    height: 40px;
    width: 60px;
    display: flex;
}

.photo_lan:hover {
    width: 65px;
    height: 45px;
    margin-left: -5px;
}


header nav .logo {
    width: 70px;
    height: 70px;
    justify-self: flex-start;
}


.logo .logo-nav {
    width: 100%;
}

.nav-menu{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
}

.nav-menu img{
    height: 100%;
    width: 100%;
}
#toggle-button{
    display: none;
}

label[for="toggle-button"]{
    display: none;
}
